# per default we only run over the files in the python package
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
    -   id: check-added-large-files
        # but no large files anywhere ;)
        files: ''
        exclude: ".*getting_started.ipynb"
-   repo: local
    hooks:
      - id: ruff_format
        name: ruff_format 
        entry: poetry run ruff format
        language: system
        types: [python]
-   repo: local
    hooks:
      - id: ruff_check
        name: ruff_check
        entry: poetry run ruff check
        language: system
        types: [python]
        files: '^cfspopcon/'
-   repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: poetry run mypy
        language: system
        types: [python]
        files: '^cfspopcon/'
        exclude: ^cfspopcon/plotting
-   repo: local
    hooks:
      - id: check_variables
        name: Check variables
        entry: poetry run python tests/utils/key_checker.py --run
        language: system
        pass_filenames: false
        always_run: true
